@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}


.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.snap-container::-webkit-scrollbar {
  display: none;
}
  
.section {
  scroll-snap-align: start;
  height: 100vh;
}

.progress-bar-container {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  z-index: 40;
}

/* Adjust positioning for smaller screens */
@media (max-width: 768px) {
  .progress-bar-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    top: auto;
  }
}