@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-white;
  @apply text-black;
  scroll-behavior: smooth;
}

main:nth-of-type(2n),
main:nth-of-type(2n + 1) {
  box-shadow: inset 0 0.1rem 0.25rem rgba(0, 0, 0, 0.1);
}

main:nth-of-type(2n) {
  @apply bg-gray-50;
}

@media screen and (min-width: 2048px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 3000px) {
  html {
    font-size: 32px;
  }
}

@media screen and (max-width: 1366px) {
  html {
    font-size: 12px;
  }
}
